/aufs5-standalone

/*.patch
!/0001-pcie-reset-kludge.patch
!/0001-mm-Support-soft-dirty-flag-reset-for-VA-range.patch
!/0002-mm-Support-soft-dirty-flag-read-with-reset.patch
!/0007-v5.12-winesync.patch
!/vm.max_map_count.patch